button{
    border:none;
    padding : 10px 20px;
    border-radius : 5px;
    font-size: 3rem;
    cursor: pointer;
    box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, .6);
    transition: ease-in .3s;
}

button:hover {
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, .6);
    padding : 12px 25px;
}

